$brand-primary : #b42554 !default;
$brand-primary-opposite : #fff !default;
$brand-secondary :#374048 !default;
$brand-secondary-opposite: #fff !default;

$transition-prop: all !default;
$transition-duration: 0.3s !default;
$transition-ease: ease-out !default;

$header-height:40px !default;
$gutter:30px !default;

$header-background-color:$brand-primary !default;
$header-color:$brand-primary-opposite !default;

$sidebar-width:300px !default;
